body{
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100;
  font-family: 'Josefin Slab', serif;
}

h1, h3 {
  text-align: center;
}

.suggestions {
  display: none;
}

.row img {
  width:300px;
}
.container
{
  color: white;
}
