body {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100;
  font-family: 'Josefin Slab', serif;
}

h1, h3 {
  text-align: center;
  color: white;
}

.suggestions {
  display: none;
}

.row img {
  width:300px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.container
{
  color: white;
}

#button {
 font-size: 30px;
 padding: 14px 40px;
}
